@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(https://fonts.gstatic.com/s/lato/v16/S6u8w4BMUTPHh30AXC-v.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v16/S6uyw4BMUTPHjx4wWw.ttf) format('truetype');
}


.clearfix:after {
  content: '';
  display: block;
  float: none;
  clear: both;
}
.border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.trans.long {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
.cnt__nav {
  position: fixed;
  display: block;
  width: 100%;
  height: 0;
  top: 0;
  z-index: 2;
  text-align: center;
  background-color: rgba(6, 23, 52, 0.9);
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
.cnt__nav.is-open {
  height: 100vh;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
.cnt__nav a {
  letter-spacing: 4px;
  color: #FFF;
  position: relative;
  text-decoration: none;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
.cnt__nav a:after {
  content: '';
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  right: 2px;
  bottom: -6px;
  transform-origin: center;
  -webkit-transform-origin: center;
  background-color: #0080ff;
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
.cnt__nav a:hover:after {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
}
.cnt__nav a:hover {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
  color: #0080ff;
}
.cnt__nav ul {
  padding: 0;
  font-size:20px;
  -moz-transform: translateY(28vh);
  -ms-transform: translateY(28vh);
  -o-transform: translateY(28vh);
  transform: translateY(28vh);
  -webkit-transform: translateY(28vh);
}
.cnt__nav li {
  list-style: none;
  margin: 10px 0;
}
.nav-trigger-line {
  position: absolute;
  width: 22px;
  height: 3px;
  left: 10px;
  display: block;
  background-color: #FFF;
}
#cnt__nav-trigger {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  right: 5%;
  margin-right: 15px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  width: 48px;
  height: 48px;
  top: 25px;
  border: solid 3px #0a2642;
  background-color:#fff;
}
#cnt__nav-trigger.is-hide {
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
  top: -70px;
}
#cnt__nav-trigger .nav-trigger {
  position: relative;
}
#cnt__nav-trigger .nav-trigger div {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transition-delay: 0;
}
#cnt__nav-trigger .nav-trigger div:nth-child(1) {
  position: absolute;
  width: 22px;
  height: 3px;
  left: 10px;
  display: block;
  background-color:#0a2642;
  top: 20px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
#cnt__nav-trigger .nav-trigger div:nth-child(2) {
  position: absolute;
  width: 22px;
  height: 3px;
  left: 10px;
  display: block;
  background-color:#0a2642;
  top: 20px;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}
#cnt__nav-trigger .nav-trigger div:nth-child(3) {
  position: absolute;
  width: 22px;
  height: 3px;
  left: 10px;
  display: block;
  background-color:#0a2642;
  top: 13px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform: scale(1);
}
#cnt__nav-trigger .nav-trigger div:nth-child(4) {
  position: absolute;
  width: 22px;
  height: 3px;
  left: 10px;
  display: block;
  background-color:#0a2642;
  top: 27px;
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform: scale(1);
}
#cnt__nav-trigger .nav-trigger.is-open div:nth-child(1) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#cnt__nav-trigger .nav-trigger.is-open div:nth-child(2) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#cnt__nav-trigger .nav-trigger.is-open div:nth-child(3) {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform: scale(0);
}
#cnt__nav-trigger .nav-trigger.is-open div:nth-child(4) {
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform: scale(0);
}

#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}


#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-instagram:hover {
    color: #DD2A7B;
}

#myFooter .fa-instagram:focus {
    color: #DD2A7B;
}

#myFooter .fa-linkedin:hover {
    color: #2867B2;
}

#myFooter .fa-instagram:focus {
    color: #2867B2;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 100px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

/*********************************
3. Header
*********************************/

.header
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: calc(100%);
	background: #0a2642;
	z-index: 100;
	border-bottom: solid 2px #1c97dc;
}
.header_content
{
	width: 100%;
	height: 102px;
	padding-left: 50px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_content
{
	height: 75px;
}
.logo
{
	display: inline-block;
}
.logo a
{
	display: block;
	height: 100%;
	padding: 5px;
}
.logo a > span
{
	display: block;
	font-size: 30px;
	line-height: 0.75;
	font-weight: 500;
	color: #1c97dc;
	text-transform: uppercase;
}
.logo a > span > span
{
	color: #ffffff;
}
.logo a > span:last-of-type
{
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.75em;
	margin-top: 7px;
	margin-left: 2px;
}
.main_nav
{
	margin-left: 155px;
}
.main_nav ul li
{
	position: relative;
	white-space: nowrap;
}
.main_nav > ul > li.has_children > a
{
	padding-right: 19px;
}
.main_nav > ul > li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	font-family: 'FontAwesome';
	content: '\f107';
	font-size: 20px;
	color: #928d92;
	line-height: 1.2;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.active.has_children > a::after
{
	color: #1c97dc;
}
.main_nav > ul > li:not(:last-of-type)
{
	margin-right: 40px;
}
.main_nav ul li a
{
	display: block;
	font-size: 20px;
	font-weight: 500;
	color: #ffffff;
}
.main_nav > ul > li a:hover,
.main_nav > ul > li.active a,
.main_nav > ul > li > a:hover::after
{
	color: #1c97dc;
}
.main_nav ul li > ul
{
	position: absolute;
	left: 0;
	top: 100%;
	min-width: 100%;
	background: #ffffff;
	padding-top: 20px;
	padding-bottom: 25px;
	visibility: hidden;
	opacity: 0;
}
.main_nav ul li.has_children:hover > ul
{
	visibility: visible;
	opacity: 1;
}
.main_nav ul li > ul > li
{
	padding-left: 30px;
}
.main_nav ul li > ul > li > a
{
	position: relative;
	padding-right: 30px;
}
.main_nav ul li > ul > li:not(:last-of-type)
{
	margin-bottom: 8px;
}
.main_nav ul li > ul > li a
{
	color: #1c97dc;
}
.main_nav ul li > ul > li a:hover
{
	color: #0a2642;
}
.main_nav > ul > li.has_children > ul li.has_children ul
{
	position: absolute;
	top: -20px;
	left: 100%;
	border-left: solid 3px #1c97dc;
}
.main_nav > ul > li.has_children > ul li.has_children > a::after
{
	position: absolute;
	top: 0px;
	right: 16px;
	height: 100%;
	font-family: 'FontAwesome';
	content: '\f105';
	font-size: 16px;
	color: #928d92;
	line-height: 1.4;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li.has_children > ul li.has_children > a:hover::after
{
	color: #0a2642;
}
.header_right
{
	height: 100%;
}
.header_link
{
	height: 100%;
	width: 200px;
	background: #1c97dc;
	text-align: center;
}
.header_link a
{
	display: block;
	position: relative;
	height: 100%;
}
.header_link a span
{
	position: relative;
	font-size: 14px;
	font-weight: 900;
	color: #ffffff;
	line-height: 96px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_link a span
{
	line-height: 75px;
}
.header_link a span > img
{
	margin-bottom: 4px;
	margin-left: 5px;
	-webkit-transition: all 700ms ease;
	-moz-transition: all 700ms ease;
	-ms-transition: all 700ms ease;
	-o-transition: all 700ms ease;
	transition: all 700ms ease;
}
.header_link:hover a span > img
{
	-webkit-transform: translateX(5px);
	-moz-transform: translateX(5px);
	-ms-transform: translateX(5px);
	-o-transform: translateX(5px);
	transform: translateX(5px);
}
.header .social
{
	margin-right: 56px;
}
.social ul li
{
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 50%;
	background: transparent;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:not(:last-of-type)
{
	margin-right: 13px;
}
.social ul li:hover
{
	background: #1c97dc;
}
.social ul li a
{
	display: block;
	height: 100%;
}
.social ul li a i
{
	font-size: 14px;
	color: #ffffff;
	line-height: 32px;
}
.log_reg
{
	margin-right: 75px;
}
.log_reg ul li
{
	position: relative;
}
.log_reg ul li:not(:last-of-type)::after
{
	display: inline-block;
	content: '/';
	margin-left: 4px;
	padding-right: 4px;
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.log_reg ul li a
{
	font-size: 16px;
	font-weight: 500;
	color: #ffffff;
}
.log_reg ul li a:hover
{
	color: #1c97dc;
}
.hamburger
{
	display: none;
	cursor: pointer;
}
.hamburger i
{
	font-size: 22px;
	color: #ffffff;
	padding: 5px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #1c97dc;
}